@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
main {
  display: grid;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  background-color: rgb(22, 21, 21);
  width: 100%;
  height: 100vh;
}
.h1 {
  color: rgb(235, 231, 231);
  font-size: 27px;
  display: grid;
  justify-content: center;
  line-height: 0.5px;
}
.spanOne {
  display: grid;
  justify-content: center;
  margin-top: -15px;
}
.users-img {
  margin-top: 10px;
}
span {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  list-style: none;
}
#users {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.btn {
  display: grid;
  justify-content: space-evenly;
  margin-top: 130px;
}
#btn {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #fff;
  background-color: rgb(22, 21, 21);
  color: #fff;
  font-weight: bolder;
  font-family: monospace;
}
h6 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
#Link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.Error {
  margin: 50px;
}
